<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/new">
      <label>User: </label>
      <input name="user"></input>
      <label>Add your message here: </label>
      <input name="userMessage"></input>
      <button>Submit</button>
    </form>
    <script>
      let btn = document.querySelector('button');
      let inputs = document.querySelectorAll('input');
      btn.addEventListener('click', (e)=>{
        let empty = false, blankInput = "";
        for (let input of inputs){
          if (input.value == ""){
            empty = true;
            blankInput = `${input.name} must not be blank.`;
            break;
          }
        }
        if (empty){
          e.preventDefault();
          alert(blankInput);
        }
      })
    </script>
  </body>
</html>
