<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/new">
      <label>User: </label>
      <input name="user"></input>
      <label>Add your message here: </label>
      <input name="userMessage"></input>
    </form>
  </body>
</html>
